.dark-blue {
    color: #002347; /* Dark Blue */
}

.navy-blue {
    color: #003366; /* Navy Blue */
}

.royal-blue {
    color: #003F7D; /* Royal Blue */
}

.orange {
    color: #FF8E00; /* Orange */
}

.orange-2 {
    color: #FD7702; /* Orange */
}

.orange-3 {
    color: #FF5003; /* Orange */
}

.white {
    color: #FFFFFF; /* White */
}

.black {
    color: #000000; /* Black */
}