#map-container {
    height: 800px;
}

#map {
    height: 100%;
}

body {
    background-color: #003366;
    color: white;
}

.navbar {
    background-color: #FF8E00;
}

.navbar-brand {
    color: #ff5003;
}

.nav-link {
    color: #FD7702; /* Orange */
}

h1, h2 {
    color: whitesmoke;
}

.card {
    background-color: #003f70;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-header {
    background-color: #ff5003;
    color: white;
    font-weight: bold;
}

table {
    color: white;
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ff5003;
}

.form-select {
    margin-top: 20px;
    background-color: #ff5003;
    color: white;
    border-radius: 5px;
    border: none;
}

#chart {
    width: 100%;
    height: 400px;
}
/* CSS for Navbar Logo */
/* CSS for Navbar Logo */
.navbar-logo {
    height: auto; /* Keeps the aspect ratio */
    width: 50px; /* Adjust width as needed */
    max-height: 30px; /* Limits the height to fit within the navbar */
    border: none; /* Removes any border */
}

