<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Global Performers 2023</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='logic.js') }}"></script>
</head>
<body>
    <h1>YouTube Global Performers 2023</h1>
    <select id="data-dropdown">
        <option value="Category1">Category1</option>
        <option value="Category2">Category2</option>
        <!-- Add more options as needed -->
    </select>
    <div id="chart"></div>
    <a href="{{ url_for('dasboard') }}">Go to Dasboard Page</a>
</body>
</html>
